// Variables
$very-dark-gray: hsl(0, 0%, 17%);
$dark-gray: hsl(0, 0%, 59%);
$mid-gray: #3c3c3c;
$light-gray: #e9e9e9;

$container-width: 92%;
$container-max-width: 920px;

// Responsive Breakpoints
$breakpoints: (
  mobile:           375px,
  tablet-landscape: 1023px,
  desktop:          1440px
);

@mixin mq($breakpoint, $rule:min-width) {
  $value: map-get($breakpoints, $breakpoint);

  @if $rule == 'max-width' {
    $value: $value - 1;
  }

  @if $value != null {
    @media screen and ($rule: $value) {
      @content;
    }
  }
}

@mixin mq-max($breakpoint) {
  $value: map-get($breakpoints, $breakpoint) - 1;

  @if $value != null {
    @media screen and (max-width: $value) {
      @content;
    }
  }
}

@mixin mq-range($breakpoint1, $breakpoint2) {
  $min-value: map-get($breakpoints, $breakpoint1);
  $max-value: map-get($breakpoints, $breakpoint2) - 1;

  @if $min-value != null and $max-value != null {
    @media screen and (min-width: $min-value) and (max-width: $max-value) {
      @content;
    }
  }
}

// General
*,
*::before,
*::after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.4;
  font-family: 'Rubik', Helvetica, Arial, sans-serif;
}

// Typography
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

// Layout
.container {
  max-width: $container-max-width;
  width: $container-width;
  margin: 0 auto;
}

// Header 
.header {
  background: url('./images/pattern-bg.png');
  background-size: cover;
  background-position: center center;
  padding: 24px 0 80px;

  h1 {
    color: white;
    text-align: center;
    font-size: 30px;
  }
}

.search-box {
  margin: 20px auto 45px;
  width: 465px;
  max-width: 100%;

  input {
    background: white;
    border-radius: 16px 0 0 16px;
    border: none;
    line-height: 1;
    width: calc(100% - 50px);
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    height: 50px;
    padding: 8px 16px;
    font-size: 18px;
    color: $very-dark-gray;
  }

  button {
    cursor: pointer;
    width: 50px;
    height: 50px;
    line-height: 1;
    border-radius: 0 16px 16px 0;
    background: $very-dark-gray;
    color: white;
    border: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    transition: background .2s ease;

    &:hover,
    &:active {
      background: $mid-gray;
    }
  }
}

// Results 
.results {
  position: absolute;
  z-index: 100;
  left: 0;
  right: 0;
  max-width: $container-max-width;
  width: $container-width;
  margin: 0 auto;
  background: white;
  border-radius: 16px;
  padding: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-shadow: 0 1px 30px rgba(0, 0, 0, .2);

  &__col {
    padding: 0 30px;
    position: relative;
    width: 25%;

    @include mq(tablet-landscape, 'max-width') {
      width: 50%;
      margin-bottom: 30px;
      padding: 0 25px;
    }

    @include mq(mobile, 'max-width') {
      width: 100%;
      padding: 0 25px;
      text-align: center;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    &:last-of-type {
      &::after {
        display: none;
      }
    }

    &::after {
      width: 1px;
      height: 64px;
      content: '';
      position: absolute;
      background: $light-gray;
      right: 0;
      top: 8px;

      @include mq(tablet-landscape, 'max-width') {
        display: none;
      }
    }
  }

  &__title {
    font-weight: 700;
    text-transform: uppercase;
    color: $dark-gray;
    letter-spacing: 1px;
    font-size: 12px;
    margin-bottom: 8px;
  }

  &__value {
    font-weight: 500;
    font-size: 20px;
  }
}

// Map
.map-wrapper,
.leaflet-container {
  height: 660px;
  width: 100%;
  position: relative;
  z-index: 10;
}